@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
a{
    text-decoration: none;
}
home-content{
    width: 100%;
    height: 100vh;
    background: url(img1.jpeg);
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 100px;
}
.logo{
    max-height: 60px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #fd4766;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background:#fd4766;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.btn{
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 7px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
}
.btn:hover{
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}
.content{
    position: absolute;
    top: 35%;
    left: 8%;
}
section{
    min-height: 100vh;
    background-image: url("img1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content.tilte{
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe, #7644ff 50.19%, #fd4766 79.69%);

}
.content h1{
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #fd4766;
}
.content p{
    width: 55%;
    color: none;
    margin-top: 25px;
    margin-bottom: 30px;
}